<main>
    <section class="banner">
        <h1>Improve your score now</h1>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus
            quod sint odio eos. Aperiam earum doloremque sunt tempora consequatur ipsum maxime doloribus quo
            pariatur eos, consequuntur quas, sapiente at?</p>
        <a class="buttonLink" href="./question">GET STARTED</a>
    </section>
</main>

